<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.green.camping.dao.user.BookingMapper">

	<insert id="bookingInsert" parameterType="kr.green.camping.vo.user.BookingVO">
        insert into booking (user_name, user_id, camp_name, camp_no, camp_registered_id, booking_at, people, registered_at, book_status,can_status) values(#{user_name}, #{user_id}, #{camp_name}, #{camp_no}, #{camp_registered_id}, #{booking_at}, #{people}, now(), #{book_status},#{can_status}) 
    </insert>
	
	<select id="getBookingById" resultType="kr.green.camping.vo.user.BookingVO">
		select * from booking where user_id = #{user.id} order by no desc limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="getBookingCount" resultType="java.lang.Integer">
		select count(*) from booking where user_id = #{user.id}
	</select>
	
	<select id="getBooking" resultType="kr.green.camping.vo.user.BookingVO">
		select * from booking where no = #{no}
	</select>
	
	<select id="getCampByCampNo" resultType="kr.green.camping.vo.user.CampVO">
		select * from camp where no = #{camp_no}
	</select>
	
	<update id="modifyBooking">
		update booking set booking_at=#{booking_at}, people=#{people}, updated_at=now(), book_status=#{book_status}, can_status=#{can_status} where no=#{no}
	</update>
	
</mapper>